p{
    line-height: 1.5em;
}

#top-blocks{
    padding-top: 1em;
    padding-bottom: 1em;
}

#top-center{
    
}

#top-right{
    text-align: right;
}

.mainmenu .nav{
    overflow: hidden;
}

.mainmenu .nav > li{
    width: 100%;
}

@media (min-width:768px){
    .mainmenu .nav > li{
        float: left;
        width: auto;
    }
}

@media (min-width:992px){
    .mainmenu .nav > li{
        float: left;
        width: auto;
    }
}

@media (min-width:1200px){
    .mainmenu .nav > li{
        float: left;
        width: auto;
    }
}

.mainmenu .nav > li > a{
    padding: 10px 15px;
    display: block;
}

footer > .container{
    padding: 30px 0;
    margin-top: 60px;
}

footer p{
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
}

.page-header{
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    border: none;
}

.page-header>h1, .page-header>h2{
    position: relative;
    z-index: 1;

    display: inline-block;

    margin: 0;
    padding: 0 10px 0 0;

    text-transform: uppercase;

    color: #272727;
    background: #FFF;

    font-size: 18px;
    font-weight: bold;
    line-height: normal;
}


h2{
    line-height: normal;
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.isbold{
    font-weight: bold;
}


.contact-head{
    width: 125px;
    vertical-align: top;
    display: inline-block;
    zoom: 1;
    *display: inline;
}
.contact-head+p{
    display: inline-block;
    width: 570px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}
#slider-container > li{
    float: left;

    list-style: none;
}
#slider-container > li > img{
    margin: 0 auto;
}
.slider{
    overflow: hidden;
}

.breadcrumbs{
  margin: 10px 0px;
}

.navbar .nav {
  margin: 10px 10px 10px 0px;
}

.social-buttons{
  padding: 20px 0px;
}


header [class^="icomoon-"]:before, header [class*=" icomoon-"]:before {
    color: #efb506;
}

#top-left p{
    font-size: 0.9em;    
}

.phone{
    font-size: 19px;
    line-height: normal;
}

.blog [class^='leading-']{
    overflow: hidden;
    margin-bottom: 20px;
    padding: 15px;
    background: #f7f7f7;
}

.blog .pull-left{
    float: left;
}

.blog [class^='leading-'] .page-header{
    margin: 0;
    padding-left: 10px;
    border-bottom: none;
}

.blog [class^='leading-'] .page-header h2{
    margin: 0;
    font-size: 1.4em;
}

.blog .article-header h2 a{
    color: #222;
    text-decoration: underline;
}

.blog .article-header h2 a:hover{
    text-decoration: none;
}


.blog [class^='leading-'] .item-image{
    position: relative;

    margin-right: 20px;
}

.blog [class^='leading-'] .into-image-caption{
    position: absolute;
    right: 0;
    bottom: 10px;

    padding: 5px 10px;

    color: #efb506;
    background: #222;

    font-size: 1.2em;
}

.blog [class^='leading-'] .readmore{
    text-align: right;
}

#left{
    margin-top: 25px;
}
#left .nav{
    background: #f7f7f7;
}

#left .nav li{
    height: 38px;

    border-top: 1px solid #fdfdfd;
    border-bottom: 1px solid #ededed;

    line-height: 38px;
}

#left .nav li a {
    padding-left: 20px;

    color: #222;
}


.copyright{
    float: left;
    font-size: 12px;
    color: #C0C0C0;
    margin: 0;
}
footer .phone{
    font-size: 17px;
    font-weight: bold;
    margin-left: 60px;
    color: #BBB;
}
.developer{
    float: right;
    color: #fff;
    font-size: 13px;
}

.developer a{
    color: #FFF;
    text-decoration: underline;
}

.developer-logo{
    width: 21px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    background: url('../img/saity74.png') 0 0 no-repeat;
    padding-left: 3px;
}

.item-page div.img_caption{
    position: relative;
    margin-bottom: 1.5em;
    height: 60px;
    clear: both;
    overflow: hidden;
}

.item-page p.img_caption{
    background: #222;
    color: #ffd042;
    top: 25px;
    margin: 0;
    right: 0;
    padding: 5px 12px;
    position: absolute;
    z-index: 5;
}

.item-page div.img_caption > img{
    height: 60px;
    position: relative;
}

/* breadcrumbs.. */
.breadcrumb{
  background: none;
  padding: 0;
  margin: 20px 0;
}
.breadcrumb .pathway{
  
}
.breadcrumb a, .breadcrumb span{
  color: #888;
  font-size: 12px;
}
.breadcrumb a{
  text-decoration: underline;
}
/* ..breadcrumbs */

.price-btn{
    background: #ffd042;
    color: #222;
    padding: 7px 12px;
}

.price-btn:hover{
    text-decoration: none;
    color: #222;
}

.price-btn:hover > span{
    text-decoration: underline;
}

.price-btn > span{
    text-decoration: underline;
}

.price-btn:before{
    content: "\e60a";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 6px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.readmore-btn{
    background: #f7f7f7;
    color: #222;
    padding: 7px 12px;
}

.readmore-btn > span{
    text-decoration: underline;
}

.readmore-btn:hover{
    text-decoration: none;
    color: #222;
}

.readmore-btn:hover > span{
    text-decoration: none;
}

.readmore-btn:before{
    content: "\e612";
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    margin-right: 6px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* mod_jsend */

#left .form-border{
    padding: 10px 20px;
    background: #ffd042;
}

#left .form-border input,
#left .form-border textarea{
    width: 166px;
    font-size: 0.9em;
}

#left .form-border select{
    width: 178px
}

#left .form-border .btn-jsend-submit{
    background: #222;
    padding: 7px 12px;
    margin-top: 0.6em;
    display: inline-block;
}

#left .form-border .intro-text{
    font-size: 0.9em;
    line-height: 1.2em;
    margin-top: 1em;
}

/* PHOTOS */

.photos{
    overflow: hidden;
    margin-bottom: 2em;
}
.photos ul > li{
    margin: 10px 6px 0 0;
    float: left;
}

.photos img{
    padding: 3px;
    background: #fff;
    border: 1px solid #ddd;
}


.price-block{
    border: 1px solid #222;
    padding: 15px 10px;
    background: #ffd042;
}

.price-block .online-btn{
    margin-top: 0;
}

/* SLIMBOX */

#lbOverlay {
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        cursor: pointer;
}

#lbCenter, #lbBottomContainer {
        position: absolute;
        z-index: 9999;
        overflow: hidden;
        background-color: #fff;
}

.lbLoading {
        background: #fff url(../img/loading.gif) no-repeat center;
}

#lbImage {
        position: absolute;
        left: 0;
        top: 0;
        border: 10px solid #fff;
        background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
        display: block;
        position: absolute;
        top: 0;
        width: 50%;
        outline: none;
}

#lbPrevLink {
        left: 0;
}

#lbPrevLink:hover {
        background: transparent url(../img/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
        right: 0;
}

#lbNextLink:hover {
        background: transparent url(../img/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
        font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
        font-size: 10px;
        color: #666;
        line-height: 1.4em;
        text-align: left;
        border: 10px solid #fff;
        border-top-style: none;
}

#lbCloseLink {
        display: block;
        float: right;
        width: 66px;
        height: 22px;
        background: transparent url(../img/closelabel.gif) no-repeat center;
        margin: 5px 0;
        outline: none;
}

#lbCaption, #lbNumber {
        margin-right: 71px;
}

#lbCaption {
        font-weight: bold;
}