body{
    font: "Trebuchet MS" 14px/18px;
    background: #fff;
}

.wrapper{
  background: #fff;
  width: 960px;
  margin: 0 auto;
}
.wrap-border{
  box-shadow: 0 0 10px #333; 
}

#slider-container > li{
	float: left;
	list-style: none;
}

#slider-container > li > img{
	margin: 0 auto;
}

.slider{
	overflow: hidden;
}